{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Goal Tracker</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <style>
    body {
      background-color: #1a202c;
      color: #cbd5e0;
    }
  </style>
</head>
<body class="font-sans leading-normal tracking-normal">

  <!-- Header -->
  <header class="bg-gray-900 text-white p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
      <h1 class="text-2xl font-bold">Welcome {{session.userinfo.name}}!</h1>
      <nav>
        <a href="{% url 'userhome' %}" class="mr-4 hover:text-gray-400">Create Goals</a> 
        <a href="{% url 'goal_list' %}" class="mr-4 hover:text-gray-400">My Goals</a>
        <a href="{% url 'userprogress' %}" class="mr-4 hover:text-gray-400">Progress</a>
        <a href="{% url 'logout' %}" class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-700">Logout</a>
      </nav>
    </div>
  </header>

    {% block contents %}

    {% endblock %}


</body>
</html>
